.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4px;
}
.navbar .logo{
color: #ff5722;
}
.navbar .h2{
  color: #555;
}
.navbar .profile {
  width: 40px;
}
